@inherits LayoutComponentBase
<!--Elimino About que está en la parte superior y la barra de menú de la parte izquierda-->
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
