@page "/"

<PageTitle>Subnetting</PageTitle>

<form action="formulario.php" method="get">
    <div id="parte1">
        <label for="numMajor" id="major">Major network</label>
        <input type="text" id="numMajor" name="major" required placeholder="xxx.xxx.xxx.xxx/xx">
    </div>

    <div id="parte2">
        <label id="subnets">Subnets</label>
    </div>

    <label id="name">Name</label>
    <div id="parte3">
        <input type="text" id="nameSubnet" name="name1" required placeholder="A">
        <br />
        <br />
        <input type="text" id="nameSubnet2" name="name1" required placeholder="A">
    </div>

    <label id="size">Size</label>
    <div id="parte4">
        <input type="number" id="sizeSubnet" name="size1" required placeholder="00">
        <button type="button" id="menos"> - </button>
        <br />
        <br />
        <input type="number" id="sizeSubnet2" name="size1" required placeholder="00">
        <button type="button" id="menos"> - </button>
    </div>


    <button id="mas" type="button"> + </button>

    <button id="submit" type="submit">Submit</button>

</form>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
