@page "/"

<PageTitle>Subnetting</PageTitle>

<form action="formulario.php" method="get">
    <div id="parte1">
        <label for="numMajor" id="major">Major network</label>
        <input type="text" id="numMajor" name="major" required placeholder="xxx.xxx.xxx.xxx/xx">
    </div>

    <div id="parte2">
        <label id="subnets">Subnets</label>
    </div>

    <label id="name">Name</label>
    <div id="parte3">
        @for (int i = 0; i <= cont; i++)
        {
            <input type="text" id="nameSubnet" name="name1" required placeholder="A">
        }
    </div>

    <label id="size">Size</label>
    <div id="parte4">
        @for (int i = 0; i <= cont; i++)
        {
            <input type="number" id="sizeSubnet" name="size1" required placeholder="00" />
            <button type="button" id="menos" @onclick="Eliminar">-</button>
        }
    </div>


    <button id="mas" type="button" @onclick="Contar"> + </button>

    <button id="submit" type="submit">Submit</button>

</form>

@code {
    private bool _isVisible = false;
    private int cont;

    private void Eliminar()
    {
        cont--;
    }

    private void Contar()
    {
        cont++;
    }
}
