form{
    /*GRID*/
    display: grid; /*Para hacerlo responsive, dividimos por filas y columnas*/
    grid-template-columns: repeat(4, 1fr); /*Definimos el grosor de las columnas, ponemos para que sean 4 columnas con el mismo grosor(1fr)*/
    grid-template-columns: repeat(5, 1fr); /*Definimos el grosor de las filas, ponemos para que sean 6 filas con el mismo grosor(1fr)*/
    /*Estructuramos de cómo se verán cada parte, dónde irá colocado*/
    grid-template-areas: "major major major major"
                         "subnets name1 size1 size"
                         "subnets name2 size2 size"
                         "mas mas mas mas"
                         "submit submit submit submit";
    grid-gap: 3vh;  /*Separación entre elementos*/  
    margin-top: 20vh;
    margin-left: 20vh;
}

#parte1{
    grid-area: major;
}

#parte2{
    grid-area: subnets;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numMajor{
     width: 30vh;
}

#name{
    grid-area: name1;
}

#parte3{
    grid-area: name2;
}

#size{
    grid-area: size1;
}

#parte4{
    grid-area: size2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menos{
    width: 5vh;
}

#mas{
    grid-area: mas;
    width: 10vh;
    margin-left: 42%;
}

#result{
    grid-area: result;
}

#numResult{
    grid-area: numResult;
}

#submit{
    grid-area: submit;
    width: 20vh;
    margin-left: 37%;
}